@import "../fonts/Atlas-Grotesk/fonts.css";

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/Iosevka/woff2/iosevka-regular.woff2') format('woff2'), url('../fonts/Iosevka/woff/iosevka-regular.woff') format('woff'), url('../fonts/Iosevka/ttf/iosevka-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/Iosevka/woff2/iosevka-oblique.woff2') format('woff2'), url('../fonts/Iosevka/woff/iosevka-oblique.woff') format('woff'), url('../fonts/Iosevka/ttf/iosevka-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('../fonts/Iosevka/woff2/iosevka-oblique.woff2') format('woff2'), url('../fonts/Iosevka/woff/iosevka-oblique.woff') format('woff'), url('../fonts/Iosevka/ttf/iosevka-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/Iosevka/woff2/iosevka-italic.woff2') format('woff2'), url('../fonts/Iosevka/woff/iosevka-italic.woff') format('woff'), url('../fonts/Iosevka/ttf/iosevka-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/Iosevka/woff2/iosevka-extendeditalic.woff2') format('woff2'), url('../fonts/Iosevka/woff/iosevka-extendeditalic.woff') format('woff'), url('../fonts/Iosevka/ttf/iosevka-extendeditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/Iosevka-Aile/woff2/iosevka-aile-regular.woff2') format('woff2'), url('../fonts/Iosevka-Aile/woff/iosevka-aile-regular.woff') format('woff'), url('../fonts/Iosevka-Aile/ttf/iosevka-aile-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('../fonts/Iosevka-Aile/woff2/iosevka-aile-oblique.woff2') format('woff2'), url('../fonts/Iosevka-Aile/woff/iosevka-aile-oblique.woff') format('woff'), url('../fonts/Iosevka-Aile/ttf/iosevka-aile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('../fonts/Iosevka-Aile/woff2/iosevka-aile-oblique.woff2') format('woff2'), url('../fonts/Iosevka-Aile/woff/iosevka-aile-oblique.woff') format('woff'), url('../fonts/Iosevka-Aile/ttf/iosevka-aile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('../fonts/Iosevka-Aile/woff2/iosevka-aile-italic.woff2') format('woff2'), url('../fonts/Iosevka-Aile/woff/iosevka-aile-italic.woff') format('woff'), url('../fonts/Iosevka-Aile/ttf/iosevka-aile-italic.ttf') format('truetype');
}
